.container {
  width: 90%;
  margin: auto;
  padding-bottom: 4.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
  border-bottom: 1px dashed #999;
}

span {
  font-weight: bold;
}

button {
  background-color: #4ebced;
  color: white;
}

button:hover {
  cursor: pointer;
}

main {
  width: 70%;
}

.theme-container a {
  text-decoration: none;
  color: inherit;
}

.theme-container span {
  font-weight: bold;
}

.theme-container h2, p {
  display:flex;
  padding: 0.3em 0 0.2em;
  margin: 0;
}

.theme-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.5em;
  border-bottom: 1px solid #999;
  border-radius: 0.1em;
  font-size: 0.8em;
  margin-top: 1em;
}

.theme-title {
  padding: 0;
}

.theme-name {
  width: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}
.myWork{
  color:blue;
  text-align: bold;
}


time {
  font-weight: bold;
}
