<div class="container">
  <!-- theme content  -->
  <div *ngIf="theme" class="theme-content">
    <!-- theme-title  -->
    <div class="theme-title">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <p>Worker: {{theme!.username}}</p>
          <p>Shift: {{theme!.themeName }}</p>
          <p>Date:{{theme!.date| shorten : 10 }}</p>
         
        </div>
  <button class="button" (click)="deleteTheme()" >Delete</button>
      </div>
    </div>   
  </div>
</div>
